{% extends 'learning_logs/base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block header %}
<style>
  .center-img {
    display: block;
    margin: 0 auto;
    height: 300px;
  }


</style>
<h2>{{ blogentry.blogtitle }}</h2>
<p>
    <small>
        <a href="{% url 'blog:blog' %}">Вернуться ко всем статьям блога</a>
    </small>
</p>
{% endblock header %}

{% block content %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h5>
            Опубликовано {{ blogentry.blogdate_added|date:'d.m.Y в H:i' }}
        </h5>
    </div>
    <div class="panel-body">
        <img src="{{ blogentry.blogentryimage.url }}" alt='' class='center-img'>
        {{ blogentry.blogtext|linebreaks }}
    </div>
    <div class="panel-body">
        {% if user == blogentry.blogentryowner %}
        <small>
            <a href="{% url 'blog:edit_blogentry' blogentry.id %}">Редактировать статью</a>
        </small>
        <small>
            | <a href="{% url 'blog:delete_blogentry' blogtopic.id blogentry.id %}">Удалить статью</a>
        </small>
        {%endif%}
        <br>

        <small>Поделиться этой статьёй в соцсетях:</small>
        <a href="http://vk.com/share.php?url=https://Gwin_project.by/blogentry/{{ blogentry.id }}"
           target="_blank" rel="nofollow">
            <img src="{% static 'sn/vk.jpg'  %}" width='20px'>
        </a>
        <a href="https://twitter.com/intent/tweet?text=https://Gwin_project.by/blogentry/{{ blogentry.id }}"
           target="_blank" rel="nofollow">
            <img src="{% static 'sn/twitter.png'  %}" width='20px'>
        </a>
        <a href="https://www.facebook.com/sharer/sharer.php?u=https://Gwin_project.by/blogentry/{{ blogentry.id }}"
           target="_blank" rel="nofollow">
            <img src="{% static 'sn/facebook.png'  %}" width='20px'>
        </a>
        <a href="https://connect.ok.ru/offer?url=https://Gwin_project.by/blogentry/{{ blogentry.id }}"
           target="_blank" rel="nofollow">
            <img src="{% static 'sn/ok.png'  %}" width='20px'>
        </a>
        <p></p>
        <p>
            <small>
                <a href="{% url 'blog:blog' %}">Вернуться ко всем статьям блога</a>
            </small>
        </p>
    </div>
    <div class="panel-body">
        <p>Оставить комментарий:</p>
        <form method="post" action="{% url 'blog:blogentry' blogentry.id %}" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}

            {% buttons %}
            <button name="submit" class="btn btn-primary">Добавить комментарий</button>
            {% endbuttons %}
            <input type="hidden" name="next" value="{% url 'blog:blogentry' blogentry.id %}"/>
        </form>
    </div>
</div>

<div class="panel-body">
    <p> Комментарии к статье: </p>
    {% for blogcomment in all_comments %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>
                Комментарий от пользователя {{ blogcomment.blogname }}
                <p><small>Комментарий создан {{blogcomment.blogcreated | date:'d.m.Y в H:i'}}<br>
                    {% if blogcomment.blogcreated != blogcomment.blogupdated %}
                    Комментарий обновлён {{blogcomment.blogupdated | date:'d.m.Y в H:i'}}
                    {% endif %}
                </small></p>

            </h5>
        </div>
        <div class="panel-body">
            <p>
                {{ blogcomment.blogbody }}
            </p>
            {% if blogcomment.blogname == request.user %}
            <h5><p><small>
                <a href="{% url 'blog:edit_blogcomment' blogentry.id blogcomment.id  %}">Редактировать комментарий</a>
            </small></p></h5>
            {% else %}
            <p></p>
            {% endif %}
        </div>
    </div>
    {% empty %}
    К этой статье пока не было оставлено никаких комментариев...Станьте первым!
    {% endfor %}
</div>
<div class="panel-body">
    <p>
        <a href="{% url 'blog:blogentry' blogentry.id %}">Вернуться к началу статьи "{{ blogentry }}"</a>
    </p>
    <p>
        <a href="{% url 'blog:blog' %}">Вернуться ко всем статьям блога</a>
    </p>
</div>
{% endblock content %}
