{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}
{% block header %}
<h4>Редактировать статью</h4>
{% endblock header %}

{% block content %}
<form method="post" action="{% url 'blog:edit_blogentry' blogentry.id %}" class="form" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons %}
    <button name="submit" class="btn btn-primary">Редактировать статью</button>
    {% endbuttons %}
    <input type="hidden" name="next" value="{% url 'blog:blogtopic' blogtopic.id %}"/>
</form>
{% endblock content %}
