{% extends "learning_logs/base.html" %}
{% block header %}
<div class="container"><center><h3>Все твои статьи:</h3></center>
</div>
{% endblock header %}

{% block content %}
{% load static %}

<div class="container-float">
    <div class="row">
        <div class="col" style="width: 500px">
            <br><br>
          
        </div>
        <div class="col">
            
{%for blogentry in myentries%}
<div class="panel panel-default" style="width: 570px">
    <div class="panel-heading" style="width: 568px">
      <center><a href="{% url 'blog:blogentry' blogentry.id %}"><img src="{{blogentry.blogentryimage.url}}" width='540px'></a></center>

    </div>
    <div class="panel-body" style="width: 480px">
        <a href="{% url 'blog:blogentry' blogentry.id %}"> "{{blogentry.blogtitle}}"</a><br>
        {{ blogentry.blogtext }}<small><a href="{% url 'blog:blogentry' blogentry.id %}">{{ read_more }}</a></small>                    
        <br>

        <small>Континент - {{blogentry.blogtopic}},
        тип отдыха - {{blogentry.blogresttypes}}
        </small>
        <h5><small>
            Добавлено пользователем
            <a href="{% url 'blog:alluserentries' blogentry.blogentryowner.id %}">{{blogentry.blogentryowner}} </a>
            в {{ blogentry.blogdate_added|date:'d.m.Y в H:i' }}
        </small></h5>
        {% if user == blogentry.blogentryowner %}
        <small>
            <a href="{% url 'blog:edit_blogentry' blogentry.id %}">Редактировать статью</a>
        </small>
        <small>
            | <a href="{% url 'blog:delete_blogentry' blogtopic.id blogentry.id %}">Удалить статью</a>
        </small>
        {%endif%}
    </div>

</div>
{% empty %}
Ты ещё ничего не написал в блог? Самое время <a href="{% url 'blog:new_blogentry' 1 %}">начать</a>!
{% endfor %}
</div>
<div class="col" style="width: 500px">
<br><br>
<center><img src="{% static 'images/ad.gif'%}" alt="" width="250"></center>
<br>

<center><img src="{% static 'images/ad2.gif'%}" alt="" width="250"></center>
</div>

{% endblock content %}


