{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery-3.6.0.js' %}"></script>
    <script src="{% static   'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <title>Будь здоров!</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body style="background-color:rgb(184, 245, 179);">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}"> <img src="{% static 'images/bless.jpg'%}" alt="" width="90"
                                                               height="41"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="{% url 'topics' %}">Статьи от профессионалов</a></li>
                <li><a href="{% url 'blog:blogtopics' %}">Блог пользователей</a></li>
                <li><a href="{% url 'favourites' %}">Избранное из статей</a></li>
                <li><a href="{% url 'blog:blogfavourites' %}">Избранное из блога</a></li>
                <li><a href="{% url 'notes:notes' %}">Мои заметки</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li><a>Привет, {{ user.username }}</a></li>
                <li><a href="{% url 'users:logout' %}">Выйти из аккаунта</a></li>
                {% else %}
                <li><a href="{% url 'users:register' %}">Зарегистрироваться</a></li>
                <li><a href="{% url 'users:login' %}">Войти в аккаунт</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="page-header">
        {% block header %}{% endblock header %}
    </div>
    <div>
        {% block content %}{% endblock content %}
    </div>
</div>
</body>
</html>
