{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery-3.6.0.js' %}"></script>
    <script src="{% static   'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <title>Путешествуйте!</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body style="background-color:rgb(236, 242, 235);">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="{% url 'index' %}"> <img src="{% static 'images/icons/planetitle.png'%}" alt=""
                                                                       height="20"></a></li>
                <li><a href="{% url 'topics' %}"><img src="{% static 'images/icons/destination.png'%}" alt=""
                                                                       height="20">  По направлениям</a></li>
                <li><a href="{% url 'blog:blogtopics' %}"><img src="{% static 'images/icons/beach.png'%}" alt=""
                                                                       height="20">  По типам отдыха</a></li>
                <li><a href="{% url 'favourites' %}"><img src="{% static 'images/icons/tourist.png'%}" alt=""
                                                                       height="20">  Блог наших читателей</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'blog:blogfavourites' %}"><img src="{% static 'images/icons/myentries.png'%}" alt=""
                                                                       height="20">  Мои статьи</a></li>
                <li><a href="{% url 'notes:notes' %}"><img src="{% static 'images/icons/favourites.png'%}" alt=""
                                                                       height="20">  Избранное</a></li>
                {% if user.is_authenticated %}
                <li><a>Привет, {{ user.username }}</a></li>
                <li><a href="{% url 'users:logout' %}">Выйти из аккаунта</a></li>
                {% else %}
                <li><a href="{% url 'users:register' %}">Зарегистрироваться</a></li>
                <li><a href="{% url 'users:login' %}">Войти в аккаунт</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="container-xxl">
    <div class="page-header">
        {% block header %}{% endblock header %}
    </div>
    <div>
        {% block content %}{% endblock content %}
    </div>
</div>

</body>
<br>
<center>Денис Вашкевич 3488927@gmail.com</center>
<br>
</html>
