{% extends "learning_logs/base.html" %}
{% block header %}
<h2>Избранные статьи</h2>
{% endblock header %}

{% block content %}
<ul>
    {% for fav in favourites %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>
                <a href="{% url 'entry' fav.id %}"> {{fav.title}}</a>
                <small>
                    {{ fav.date_added|date:'d.m.Y в H:i' }}
                </small>
            </h5>
        </div>
        <div class="panel-body">
            {{ fav.text }}
            <small>
                <a href="{% url 'entry' fav.id %}">{{ read_more }}</a>
            </small>
            <p>
                <a href="{% url 'remove_from_fav' fav.id %}"> Удалить из избранного</a>
            </p>
        </div>
    </div>

    {% empty %}
    <li>У вас ещё нет избранных статей.</li>
    {% endfor %}
</ul>

{% endblock content %}
