{% extends "learning_logs/base.html" %}
{% block header %}
  <h2>Разделы статей</h2>
{% endblock header %}

{% block content %}
  <ul>
    {% for topic in topics %}
    <div class="panel panel-default" style="width:252px; background-color: #c3f6c3">
    <div class="panel-heading" style="width:250px; background-color: #c3f6c3">

        <h4>
          <a href="{% url 'topic' topic.id %}">{{ topic }}</a>
        </h4>

    </div>

    </div>
    {% empty %}
      <li>Упс, пока ещё нету ни одного раздела.</li>
    {% endfor %}
  </ul>
  <div class="panel-body" style="width:150px;">
    <a href="{% url 'new_topic' %}"> Добавить раздел</a>
  </div>
{% endblock content %}
